@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$color-bg-main: white;
$color-bg-second: #FCFEF5;
$color-accent: #F7AF63;
$color-accent-hover: #e58f34;
$color-accent2: #84d8bd;
$color-accent2-hover: #59BC9C;
$color-navbar: #84d8bd;
$color-navbar2: #9CDDC8;
$color-navbar-link: #f9fff7;
$color-navbar-brand: #0A7571;
$color-text-em: #774F38;
$color-inactive-tab: #dae2e0;
$color-inactive-tags: #edf4f2;
$color-profile-tab: #edf4f2;
$color-profile-bottom: #C2E3CD;
$color-profile-bottom-sel: #9CDDC8;
$color-accent3: #F1BBBA;
$color-accent3-hover: #EB9F9F;
$color-accent4: #F5634A;
$color-accent4-hover: #ED303C;
$color-accent5: #9CDDC8;
$color-accent5-hover: #84d8bd;

html,
body {
  height: 100%;
  margin: 0;
  background-color: $color-bg-main;
}

.navbar {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 50px;
  height: 50px;
  background-color: $color-navbar;
  .navbar-container {
    width: 100%;
  }
  .navbar-lists {
    font-variant: small-caps;
  }
  .navbar-links a {
    color: $color-navbar-link;
  }
  .navbar-brand {
    float: left;
    font-weight: bold;
  }
  .navbar-left {
    float: left;
  }
  .navbar-right {
    float: right;
  }
  #options-toggle {
    display: inline-block;
    width: 160px;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    background-color: $color-navbar2;
    color: $color-navbar-brand;
  }
  #options-toggle:hover {
    color: $color-bg-second;
  }
  #options-toggle:focus {
    background-color: $color-accent2-hover;
    color: $color-bg-second;
  }
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline;
      margin: 0;
    }
  }
  a {
    text-decoration: none;
    padding: 0 20px;
    color: $color-navbar-brand;
  }
  a:hover {
    color: $color-navbar-brand;
  }
  #profile-options-container {
    float: right;
    position: relative;
    display: block;
    width: 200px;
    background-color: $color-navbar;
    overflow: hidden;
    height: 0;
    li {
      display: block;
      margin: 0;
    }
    #signout {
      font-weight: bold;
    }
    a:hover {
      display: block;
      color: $color-bg-second;
      background-color: $color-navbar2;
    }
  }
  .navbar-menu {
    float: right;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 20px;
    .icon-bar {
      width: 25px;
      height: 3px;
      background: $color-navbar-brand;
      margin: 3px 2px;
      display: block;
      border-radius: 1.5px;
    }
  }
  .signedin {
    display: none;
  }
  @media (max-width: 900px) {
    .navbar-menu {
      display: inline-block !important;
    }
    .navbar-lists {
      z-index: 3;
      position: absolute;
      top: 50px;
      width: 100%;
      overflow: hidden;
      height: 0;
    }
    .navbar-right,
    .navbar-left,  {
      background-color: $color-navbar2;
      width: 100%;
      float: left;
    }
    #options-toggle, #options-toggle:hover, #options-toggle:focus {
      display: none;
    }
    #profile-options-container {
      width: 100%;
      height: 200px;
      a:hover {
        color: $color-bg-second;
        background-color: $color-navbar;
      }
    }
    a {
      display: inline-block;
      width: 100%;
    }
  }
}

main {
  /*position: fixed;*/
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  /*overflow: scroll;*/
}

#side-menu-toggle-wrapper {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  #side-menu-toggle {
    border: none;
    border-radius: 0;
    background-color: $color-accent-hover;
    color: $color-bg-main;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 9pt;
  }
  #side-menu-toggle:hover {
    background-color: $color-accent;
  }
  @media (max-width: 900px) {
    display: block;
  }
}

#side-menu {
  width: 35%;
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin-top: 0;
  #side-menu-content {
    position: relative;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    #directions-panel {
      width: 100%;
    }
  }
  .trip-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #desc {
    text-align: center;
    margin-bottom: 10px;
  }
  #destination-header {
    font-weight: bold;
  }
  #instr {
    font-size: 12px;
  }
  #edit-list {
    background-color: $color-accent;
    border-color: $color-accent;
  }
  #edit-list:hover {
    background-color: $color-accent-hover;
    border-color: $color-accent-hover;
  }
  #fav-list, #unfav-list {
    display: none;
  }
  #fav-list, #create-list {
    background-color: $color-accent2;
    border-color: $color-accent2;
  }
  #unfav-list {
    background-color: $color-accent3;
    border-color: $color-accent3;
  }
  #fav-list:hover, #create-list:hover {
    background-color: $color-accent2-hover;
    border-color: $color-accent2-hover;
  }
  #unfav-list:hover {
    background-color: $color-accent3-hover;
    border-color: $color-accent3-hover;
  }
  #delete-list {
    background-color: $color-accent4;
    border-color: $color-accent4;
  }
  #delete-list:hover {
    background-color: $color-accent4-hover;
    border-color: $color-accent4-hover;
  }
  #cancel-edit {
    background-color: $color-accent5;
    border-color: $color-accent5;
  }
  #cancel-edit:hover {
    background-color: $color-accent5-hover;
    border-color: $color-accent5-hover;
  }
  #list-container {
    margin: auto;
  }
  #tag-container {
    position: relative;
    margin: auto;
    margin-bottom: 15px;

  }
  .readonly .selectize-input {
    border-color: $color-inactive-tags;
  }
  #waypoints {
    text-align: left;
    margin-bottom: 15px;
    list-style-type: upper-alpha;
  }
  .side-menu-btns {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  input[type="button"] {
    margin: auto;
    display: block;
  }
  input[type="text"], textarea {
    display: block;
    width: 100%;
  }
  input[type="text"]:focus, textarea:focus {
    border-color: $color-accent2;
  }
  .sortable-waypoints {
    list-style-type: none !important;
    .points {
      cursor: move !important;
      padding-right: 15px;
    }
    .points:before {
      content: '\2630';
    }
  }
  .points {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $color-bg-main;
    margin-bottom: 0;
    min-height: 20px;
    vertical-align: middle;
  }
  .points:before {
    padding-right: 10px;
    font-size: 12pt;
    color: $color-navbar-brand;
  }
  .remove-point {
    color: #d85454;
    position: absolute;
    right: 0px;
    top: 10px;
    float: right;
  }
  .remove-point:hover {
    color: #f47575;
  }
  #add-waypoints-container {
    position: relative;
    line-height: 24px;
    width: 100%;
    margin-bottom: 30px;
    #waypoints-error {
      margin: 15px auto;
      color: #d85454;
      font-style: italic;
    }
    #new-waypoint {
      padding-right: 58px;
      margin: 0;
      width: 100%;
    }
    #add-waypoint-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      padding: 0 10px;
      margin: 0;
      border-radius: 0 4px 4px 0;
      font-size: 8pt;
      text-align: center;
      line-height: 16px;
      background-color: $color-accent2;
      border-color: $color-accent2;
    }
    #add-waypoint-btn:hover {
      background-color: $color-accent2-hover;
      border-color: $color-accent2-hover;
    }
  }
  table {
    width: 100%;
  }
  @media (max-width: 900px) {
    width: 100%;
    bottom: 50px;
    background-color: $color-bg-main;
    margin-top: 200%;
  }
}

#map-container {
  z-index: 1;
  width: 65%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  /*
  #location-search-box {
  position: relative;
}
*/
#map {
  height: 100%;
  width: 100%;
  float: left;
}
@media (max-width: 900px) {
  width: 100%;
  bottom: 50px;
}
}

@keyframes popup {
  from {
    -ms-transform: scale(0.95) translate(0px, 20px);
    /* IE 9 */
    -webkit-transform: scale(0.95) translate(0px, 20px);
    /* Chrome, Safari, Opera */
    transform: scale(0.95) translate(0px, 20px);
    opacity: 0;
  }
  to {
    -ms-transform: scale(1) translate(0px, 0px);
    /* IE 9 */
    -webkit-transform: scale(1) translate(0px, 0px);
    /* Chrome, Safari, Opera */
    transform: scale(1) translate(0px, 0px);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-bg-second;
  z-index: 4;
  color: $color-accent2;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    vertical-align: middle;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 5;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  .field-error {
    color: $color-bg-main;
    display: inline-block;
    padding-top: 10px;
    display: none;
  }
  .input-helpers {
    margin-bottom: 15px;
  }
  .input-error {
    padding: 10px;
    background-color: #F74545;
    border-radius: 4px;
  }
  .popup {
    @include vertical-align;
    max-width: 320px;
    max-height: 80%;
    border-radius: 5px;
    overflow: scroll;
    margin: auto;
    .popup-content {
      border-radius: 5px;
      animation-name: popup;
      animation-duration: .2s;
      max-width: 100%;
      background: $color-bg-main;
      padding: 40px;
      input {
        width: 100%;
        margin-bottom: 0;
      }
      input:focus {
        border-color: $color-accent2;
      }
      a {
        color: $color-accent2;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        color: $color-accent2-hover;
      }
      button,
      input.submit {
        margin-top: 10px;
        margin-bottom: 0px;
        background-color: $color-accent;
        border-color: $color-accent;
      }
      button:hover,
      input.submit:hover {
        background-color: $color-accent-hover;
        border-color: $color-accent-hover;
      }
      a.close-link {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 20px;
        margin-right: 20px;
      }
      a.pop-signin,
      a.pop-register {
        p {
          margin-bottom: 0px;
        }
      }
    }
  }
}

/* ---------------- Explore Page ------------------ */

#search-container {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  max-width: 80%;
  #sort-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  button.sort {
    vertical-align: middle;
    display: block;
    width: 190px;
    margin: 1rem;
    margin-top: 0;
    font-size: 10px;
    padding: 0 10px;
    border-color: $color-accent;
    background-color: $color-accent;
  }
  button.sort:hover {
    border-color: $color-accent-hover;
    background-color: $color-accent-hover;
  }
  button.asc:after {
    content: '\f151';
    font-family: FontAwesome;
    margin-left: 5px;
    text-decoration: none;
  }
  button.desc:after {
    content: '\f150';
    font-family: FontAwesome;
    margin-left: 5px;
    text-decoration: none;
  }
  @media screen and (max-width: 825px) {
    #sort-btns {
      flex-direction: column;
    }
    button.sort {
      width: 80%;
    }
  }
  #search {
    margin-bottom: 0;
    width: 100%;
    text-overflow: ellipsis;
  }
  #search {
    border-color: $color-accent;
  }
  #search:focus {
    border-color: $color-accent-hover;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#card-container {
  margin: auto;
  width: 80%;
  li {
    margin: 1rem;
    margin-bottom: 1rem;
    display: block;
    animation-name: fadein;
    animation-duration: .7s;
  }
  span.hidden-details {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    text-overflow: clip;
  }
  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    li {
      width: 45%;
    }
  }
  @media screen and (min-width: 1000px) {
    li {
      width: 29%;
    }
  }
}

ul.paginationBottom, ul.paginationTop {
  width: 80%;
  list-style: none;
  margin: auto;
  display: block;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    background-color: $color-accent2;
    color: white;
    padding: 0.5rem 1rem;
    line-height: 38px;
    border-radius: 3px;
  }
  a:hover {
    background-color: $color-accent2-hover;
  }
}
ul.paginationBottom {
  margin-bottom: 2rem;
}

.card {
  position: relative;
  img {
    width: 100%;
    display: block;
  }
  h5,
  p {
    margin-bottom: 0;
    padding: 10px;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
  }
  .hover-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding: 0px 15px;
  }
}

.card:hover .overlay {
  opacity: 1;
}

/* ---------------- 404 Page ------------------ */

@keyframes colorchange {
  0% {
    color: #4ECDC4;
  }
  25% {
    color: #C7F464;
  }
  50% {
    color: #FF6B6B;
  }
  75% {
    color: #C44D58;
  }
  100% {
    color: #4ECDC4;
  }
}

#lost404 {
  @include vertical-align;
  margin: auto;
  text-align: center;
  height: 100%;
  h1 {
    font-size: 36vw;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    z-index: 1;
    opacity: .50;
  }
  .lostcar {
    animation: colorchange 5s infinite linear;
    font-size: 6vw;
    position: fixed;
    height: 100%;
    display: block;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    margin: auto;
    margin-top: 10%;
  }
}

/* ---------------- Create Page ------------------ */

#trip-desc {
  resize: none;
}

/* ---------------- Profile Page ----------------- */

#profile-content {
  width: 80%;
  margin: auto;
  #profile-info-container {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    #profile-pic-container {
      background-color: grey;
      display: block;
      position: relative;
      border-radius: 50%;
      max-width: 150px;
      max-height: 150px;
      overflow: hidden;
      margin: auto;
      margin-bottom: 15px;
    }
    #profile-pic {
      max-width: 150px;
      opacity: 0.8;
    }
    #user-info {
      display: block;
      max-width: 75%;
      padding: 0 30px;
      margin: auto;
      #user-name {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 20px;
      }
      #user-bio {
        font-size: 14px;
        margin: auto;
      }
    }
  }
  #profile-tabs-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: row;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    ul {
      list-style: none;
      justify-content: space-around;
      width: 100%;
      display: block;
      margin-bottom: 10px;
      .profile-tabs {
        cursor: pointer;
        float: left;
        text-align: center;
        display: inline-block;
        margin: auto;
        width: 33%;
        margin-right: 0.5%;
        padding: 8px 0;
        border-bottom: solid $color-profile-bottom;
      }
      .profile-tabs:hover {
        background-color: $color-inactive-tab;
        border-bottom: solid $color-profile-bottom-sel;
        border-radius: 20px 20px 0 0;
      }
      .profile-tabs:last-child {
        margin-right: 0;
      }
      .selected-tab {
        background-color: $color-profile-tab;
        border-bottom: solid $color-profile-bottom-sel;
        border-radius: 20px 20px 0 0;
      }
      a {
        color: black;
      }
    }
  }
  #profile-items {
    position: relative;
    width: 100%;
    ul {
      list-style: none;
    }
    #my-lists-container, #favs-container {
      margin: 0 auto;
      padding: 0 1rem;
    }
    #my-lists-cards li, #favorites-cards li {
      margin: 1rem;
    }
    #my-lists-cards li img, #favorites-cards li img {
      margin-bottom: 0;
    }
    @media screen and (min-width: 600px) {
      #my-lists-cards, #favorites-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      #my-lists-cards li, #favorites-cards li {
        width: calc(45%);
      }
    }
    @media screen and (min-width: 1000px) {
      #my-lists-cards li, #favorites-cards li {
        width: calc(30%);
      }
    }
  }
}

#edit-profile-container {
  margin: auto;
  max-width: 500px;
  position: relative;
  h3 {
    text-align: center;
    font-size: 25px;
  }
  form {
    width: 100%;
    margin: 30px auto;
    margin-bottom: 50px;
  }
  input[type="button"], input[type="submit"] {
    margin: 20px auto;
    display: block;
    background-color: $color-accent;
    border-color: $color-accent;
  }
  input[type="button"]:hover, input[type="submit"]:hover {
    background-color: $color-accent-hover;
  }
  input[type="text"], input[type="email"],
  input[type="password"], textarea {
    display: block;
    width: 100%;
    resize: none;
  }
  input[type="text"]:focus, input[type="email"]:focus,
  input[type="password"]:focus, textarea:focus {
    border-color: $color-accent2;
  }
  hr.profile-form-separator {
    margin: 0;
    border-top: 5px double $color-accent2;
  }
}

/* ---------------- Index Page ----------------- */

.landing-hero {
  box-sizing: border-box;
  background-color: #84d8bd;
  height: 95vh;
  width: 100%;
  .hero-text {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    float: left;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
    }
    p {
      padding-right: 10%;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    a {
      text-align: center;
      padding: 10px;
      background-color: $color-accent;
      border: 2px solid $color-accent;
      border-radius: 10px;
      color: white;
      text-decoration: none;
    }
    a:hover {
      background-color: $color-accent-hover;
      border-color: $color-accent-hover;
    }
  .hero-image {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    float: left;
    img {
      max-height: 95%;
      width: auto;
      padding-top: 25px;
      padding-left: 5%;
    }
  }
  @media (max-width: 835px) {
    .hero-text {
      width: 100%;
      height: 40%;
      text-align: center;
      padding: 0% 5% 5%;
      border: 2px solid red;
    }
    p {
      padding: 0%;
    }
    .hero-image {
      width: 100%;
      height: 60%;
      border: 2px solid red;
      img {
        width: 30%;
        height: auto;
        padding-left: 35%;
      }
    }
  }
  @media (max-width: 450px) {
    .hero-text {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 30% 5% 30%;
    }
    p {
      padding: 10% 0% 10%;
      line-height: 2;
    }
    .hero-image {
      width: 0%;
      height: 0%;
      border: 2px solid red;
      img {
        display: none;
      }
    }
  }
}
.landing-features {
  box-sizing: border-box;
  background-color: #f7af63;
  height: 95vh;
  width: 100%;
  .features-title {
    height: 10%;
    width: 100%;
    h3 {
      text-align: center;
      padding: 25px;
    }
  }
  .features-description {
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    p {
      text-align: center;
      padding: 20px;
      font-size: 16px;
    }
  }
  .features-content {
    box-sizing: border-box;
    height: 73%;
    width: 100%;
    .features-list {
      box-sizing: border-box;
      float: left;
      width: 20%;
      height: 100%;
      float: left;
      .features-text-left {
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        padding-top: 20%;
        padding-left: 12%;
        padding-right: 12%;
        img {
          display: none;
        }
        h4 {
          text-align: right;
        }
        p {
          text-align: right;
          font-size: 16px;
        }
      }
      .features-text-right {
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        padding-top: 20%;
        padding-left: 12%;
        padding-right: 12%;
        img {
          display: none;
        }
        h4 {
          text-align: left;
        }
        p {
          text-align: left;
          font-size: 16px;
        }
      }
    }
    .features-image {
      box-sizing: border-box;
      float: left;
      width: 60%;
      height: 100%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 835px) {
    /*
    .features-description {
      height: 15%;
    }
    */
    .features-content{
      height: 80%;
      .features-list {
        width: 100%;
        height: auto;
        .features-text-left, .features-text-right {
          height: 30%;
          padding: 0%;
          img {
            display: block;
            width: 10%;
            height: auto;
            margin: auto;
          }
          h4 {
            text-align: center;
          }
          p {
            text-align: center;
          }
        }
      }
      .features-image {
        width: 0%;
        height: 0%;
        img {
          display: none;
        }
      }
    }
  }
}
.landing-footer {
  box-sizing: border-box;
  background-color: #33c3f0;
  height: 75px;
  .footer-description {
    text-align: center;
    font-variant: small-caps;
    color: white;
    padding-top: 25px;
  }
}
