{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-alt.png"/>
{{/extend}}

<main id="lost404">
	<h1>404</h1>
	<span class="lostcar"><i class="fa fa-car fa-spin fa-5x fa-fw"></i></span>

</main>
