{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-create.png"/>
<link rel="stylesheet" href="/stylesheets/selectize.default.css">
{{/extend}}
<main>
  <div class="error-message modal close-link">
    <section class="popup">
      <div class="popup-content">
        <h3>Whoa There!</h3>
        <p>Adding this location to the road trip requires driving through a body of water!</p>
        <a class="close-link" href="javascript:void(0)"><i class="fa fa-times fa-lg close-modal" aria-hidden="true"></i></a>
      </div>
    </section>
  </div>
  <div id="side-menu-toggle-wrapper">
    <button id="side-menu-toggle" type="button" name="side-menu-toggle">
      <span class="trip-title">Create New List</span>
      <i class="fa fa-lg fa-caret-square-o-up" aria-hidden="true"></i>
    </button>
  </div>
  <div id="map-container">
    <!-- <input id="location-search-box" class="controls" type="text" placeholder="Search"> -->
    <div id="map"></div>
  </div>
  <div id="side-menu">
    <section id="side-menu-content">
      <h5>Create New List</h5>
      <input type="text" id="trip-name" placeholder="Trip Name" value="">
      <textarea name="trip-desc" id="trip-desc" placeholder="Description"></textarea>
      <h6 id="desc">Destinations:</h6>
      <!--<p>Use the search bar below to add locations to your list. Drag & reorder places for different paths. Click submit to see the suggested path starting from your current location.</p>-->
      <div id="list-container">
        <ul id="waypoints" class="sortable-waypoints">
        </ul>
        <div id="add-waypoints-container">
          <input type="text" id="new-waypoint" placeholder="Type Address" value="">
          <input class="button-primary" id="add-waypoint-btn" type="submit" value="Add">
          <div id="waypoints-error">
          </div>
        </div>
      </div>
      <div id="tag-container">
        <label for="trip-tags">Tags:</label>
        <input id="trip-tags" class="selectized" type="text" name="tags" value>
      </div>
      <div id="side-menu-btns">
        <input class="button-primary" type="button" id="create-list" value="Create">
      </div>
      <div id="directions-panel"></div>
    </section>
  </div>
</main>

{{#extend "scripts"}}
<script type="text/javascript" src="/javascripts/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7l3pxQ6dq-Kgg-aVUO6-A0zf2swG2Cec&callback=initMap&libraries=places">
</script>
<script type="text/javascript">
  // create list and send to database
  $("#create-list").click(function() {
    // gather data
    var title = $("#trip-name").val();
    var desc = $("#trip-desc").val();
    var locations = [];
    $("#waypoints").children().each(function() {
      locations.push({
        name: $(this).attr("name"),
        address: $(this).attr("data-value")
      });
    });
    var tags = $("#trip-tags").val().split(",");

    var startCoords = {
      long: 1 // LONG GOES HERE,
      lat: 1 // LAT GOES HERE
    }

    // create payload
    var postObj = {
      title: title,
      description: desc,
      locations: locations,
      tags: tags
      startCoords: startCoords
    };

    // send post req
    $.ajax('/newList', {
      data: JSON.stringify(postObj),
      contentType: 'application/json',
      type: 'POST'
    }).done(function(res) {
      // TODO SHOW SUCCESS FEEDBACK
      window.location.replace(res);
    }).fail(function() {
      // TODO SHOW FAILURE FEEDBACK
      console.log("fail!");
    }).always(function(res) {
      console.log(res.responseText);
    });
  });
</script>
{{/extend}}
