{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-create.png"/>
{{/extend}}
<main>
	<div id="search-container">
		<input type="text" id="search" placeholder="Enter keywords or tags in the format #tag to search" value="">
		<input class="button-primary" id="search-btn" type="submit" value="Search">
	</div>
	
</main>
{{#extend "scripts"}}
{{/extend}}
