{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-explore.png"/>
{{/extend}}
<main>
	<div id="search-container">
		<input type="text" id="search" placeholder="Enter keywords or tags in the format #tag to search" value="">
		<input class="button-primary" id="search-btn" type="submit" value="Search">
	</div>
	<ul id="card-container">
		<li>
			<a href="/">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="/">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="/">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="/">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="/">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="/">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
	<!-- <div class="container" id="card-container">
		<div class="row">
			<div class="four columns">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="/imgs/temp.png">
					<div class="overlay">
						<div class="hover-text">
							<h5>Trip Name</h5>
							<p>mood + tags</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</main>
{{#extend "scripts"}}
{{/extend}}
