{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-map.png"/>
<style>
  #landing-hero {
    background-color: #84d8bd;
    height: 100vh;
  }
  #landing-info {
    height: 1000px;
  }
  #landing-footer {
    background-color: grey;
    height: 300px;
  }
</style>
{{/extend}}

<main>
  <div id="landing-hero">
    cool landing page
  </div>
  <div id="landing-info">
    more cool information about our app
  </div>
  <div id="landing-footer">
    footer and stuff
  </div>
</main>

{{#extend "scripts"}}
{{/extend}}
