{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-map.png"/>
{{/extend}}

<main>
  <div class="landing-hero">
    <div class="hero-text">
      <div id="app-slogan">
        <h4>CATCHY SLOGAN HERE</h4>
      </div>
      <div id="app-description">
        <p>Currently, planning fun day trips requires the use of multiple applications such as Google Maps,
          TripAdvisor, and Yelp. Our app incorporates features from all three sources to create an all-in-one
          experience that makes trip planning easy and fun! (description placeholder)</p>
      </div>
      <div>
        <a id="sign-up-btn">Start Exploring Now!</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="/imgs/mobile_list_view.png" alt="mobile view" id="mobile-screen">
    </div>
  </div>
  <div class="landing-features">
    <div class="features-title">
      <h4>Features</h4>
    </div>
    <div class="features-description">
      <p>short description sentence</p>
    </div>
    <div class="features-content">
      <div class="features-list">
        <div class=features-text>
          <p>feature 1</p>
        </div>
        <div class=features-text>
          <p>feature 2</p>
        </div>
      </div>
      <div class="features-image">
        <img src="/imgs/view_list_desktop.png" alt="desktop view" id="desktop-screen">
      </div>
      <div class="features-list">
        <div class=features-text>
          <p>feature 3</p>
        </div>
        <div class=features-text>
          <p>feature 4</p>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div id="footer-description">
      <h6>--- A COGS 121 PROJECT ---</h6>
    </div>
  </div>
</main>

{{#extend "scripts"}}
{{/extend}}
