{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-map.png"/>
{{/extend}}

<main>
  <div class="landing-hero">
    <div class="hero-text">
      <div id="app-slogan">
        <h4>TRIP PLANNING MADE EASY</h4>
      </div>
      <div id="app-description">
        <!--
        RoadRunner utilizes [...] to bring you [...].
        Speed through [...].
        We combine [...] and [...] to bring you[...].
        -->
        <p>Currently, planning fun day trips requires the use of multiple applications such as Google Maps,
          TripAdvisor, and Yelp. Our app incorporates features from all three sources to create an all-in-one
          experience that makes trip planning easy and fun! With RoadRunner, planning trips has never been quicker.</p>
      </div>
      <div>
        <a href="/explore" id="sign-up-btn">Start Exploring Now!</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="/imgs/mobile_list_view.png" alt="mobile view" id="mobile-screen" data-aos="fade-left">
    </div>
  </div>
  <div class="landing-features">
    <div class="features-title">
      <h3>FEATURES</h3>
    </div>
    <div class="features-description">
      <p>Speed through the trip-planning process with all your tools in one place</p>
    </div>
    <div class="features-content">
      <div class="features-list">
        <div class="features-text-left" data-aos="fade-right">
          <img src="/imgs/explore-icon.png" alt="explore icon">
          <h4>Explore</h4>
          <p>new locations and trips around you</p>
        </div>
        <div class="features-text-left" data-aos="fade-right">
          <img src="/imgs/create-icon.png" alt="create icon">
          <h4>Create</h4>
          <p>lists featuring your favorite locations</p>
        </div>
      </div>
      <div class="features-image">
        <img src="/imgs/view_list_desktop.png" alt="desktop view" id="desktop-screen" data-aos="fade-up">
      </div>
      <div class="features-list">
        <div class="features-text-right" data-aos="fade-left">
          <img src="/imgs/view-icon.png" alt="view icon">
          <h4>View</h4>
          <p>your routes on the map with live updates</p>
        </div>
        <div class="features-text-right" data-aos="fade-left">
          <img src="/imgs/navigate-icon.png" alt="navigate icon">
          <h4>Navigate</h4>
          <p>through your trips with the included directions</p>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div class="footer-description">
      <h6>Developed By Team ACME | A COGS 121 Project</h6>
    </div>
  </div>
</main>

{{#extend "scripts"}}
{{/extend}}
