<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/raleway.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    {{{block "stylesheets"}}}
</head>

<body>
    {{{body}}}
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
{{{block "scripts"}}}

</html>
