html,
body {
  height: 100%;
  margin: 0;
  background-color: white; }

.navbar {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 50px;
  height: 50px;
  background-color: #84d8bd; }
  .navbar .navbar-container {
    width: 100%; }
  .navbar .navbar-lists {
    font-variant: small-caps; }
  .navbar .navbar-links a {
    color: #f9fff7; }
  .navbar .navbar-brand {
    float: left;
    font-weight: bold; }
  .navbar .navbar-left {
    float: left; }
  .navbar .navbar-right {
    float: right; }
  .navbar ul {
    list-style-type: none;
    margin: 0; }
    .navbar ul li {
      display: inline;
      margin: 0; }
  .navbar a {
    text-decoration: none;
    padding: 0 20px;
    color: #0A7571; }
  .navbar .navbar-menu {
    float: right;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 20px; }
    .navbar .navbar-menu .icon-bar {
      width: 25px;
      height: 3px;
      background: #0A7571;
      margin: 3px 2px;
      display: block;
      border-radius: 1.5px; }
  .navbar .signedin {
    display: none; }
  @media (max-width: 750px) {
    .navbar .navbar-menu {
      display: inline-block !important; }
    .navbar .navbar-lists {
      z-index: 3;
      position: absolute;
      top: 50px;
      width: 100%;
      overflow: hidden;
      height: 0; }
    .navbar .navbar-left {
      background-color: #9CDDC8; }
    .navbar .navbar-right {
      background-color: #9CDDC8; }
    .navbar .navbar-right, .navbar .navbar-left {
      width: 100%;
      float: left; }
    .navbar ul li {
      display: block; } }

main {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0; }

#side-menu-toggle-wrapper {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; }
  #side-menu-toggle-wrapper #side-menu-toggle {
    border: none;
    border-radius: 0;
    background-color: #F7AF63;
    color: white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 9pt; }
  #side-menu-toggle-wrapper #side-menu-toggle:hover {
    background-color: #e58f34; }
  @media (max-width: 750px) {
    #side-menu-toggle-wrapper {
      display: block; } }

#side-menu {
  width: 30%;
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin-top: 0; }
  #side-menu #side-menu-content {
    position: relative;
    padding: 30px;
    float: left;
    text-align: left; }
  #side-menu #submit {
    background-color: #F7AF63;
    border-color: #F7AF63; }
  #side-menu #submit:hover {
    background-color: #e58f34;
    border-color: #e58f34; }
  #side-menu .trip-title {
    text-align: center;
    font-weight: 700; }
  #side-menu #desc {
    font-weight: 600;
    text-align: left;
    margin-bottom: 0; }
  #side-menu #instr {
    font-size: 12px; }
  #side-menu #list-container {
    margin: auto; }
  #side-menu #waypoints {
    text-align: left;
    margin-bottom: 15px; }
  #side-menu .points {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    cursor: move !important;
    margin-bottom: 0;
    min-height: 20px;
    vertical-align: middle; }
  #side-menu .points:before {
    content: '\2630';
    padding-right: 10px;
    font-size: 12pt;
    color: #0A7571; }
  #side-menu #add-waypoints-container {
    position: relative;
    line-height: 24px;
    width: 100%;
    margin-bottom: 30px; }
    #side-menu #add-waypoints-container #new-waypoint {
      padding-right: 58px;
      margin: 0;
      width: 100%; }
    #side-menu #add-waypoints-container #new-waypoint:focus {
      border-color: #84d8bd; }
    #side-menu #add-waypoints-container #add-waypoint-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      padding: 0 10px;
      margin: 0;
      border-radius: 0 4px 4px 0;
      font-size: 8pt;
      text-align: center;
      line-height: 16px;
      background-color: #84d8bd;
      border-color: #84d8bd; }
    #side-menu #add-waypoints-container #add-waypoint-btn:hover {
      background-color: #59BC9C;
      border-color: #59BC9C; }
  #side-menu table {
    width: 100%; }
  @media (max-width: 750px) {
    #side-menu {
      width: 100%;
      bottom: 50px;
      background-color: white;
      margin-top: 200%; } }

#map-container {
  z-index: 1;
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }
  #map-container #map {
    height: 100%;
    width: 100%;
    float: left;
    opacity: 0; }
  @media (max-width: 750px) {
    #map-container {
      width: 100%;
      bottom: 50px; } }

@keyframes popup {
  from {
    -ms-transform: scale(0.95) translate(0px, 20px);
    /* IE 9 */
    -webkit-transform: scale(0.95) translate(0px, 20px);
    /* Chrome, Safari, Opera */
    transform: scale(0.95) translate(0px, 20px);
    opacity: 0; }
  to {
    -ms-transform: scale(1) translate(0px, 0px);
    /* IE 9 */
    -webkit-transform: scale(1) translate(0px, 0px);
    /* Chrome, Safari, Opera */
    transform: scale(1) translate(0px, 0px);
    opacity: 1; } }

.loader {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FCFEF5;
  z-index: 4;
  color: #84d8bd;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loader i {
    vertical-align: middle; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 5;
  width: 100%; }
  .modal .popup {
    position: relative;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    margin: auto; }
    .modal .popup .popup-content {
      animation-name: popup;
      animation-duration: .2s;
      border-radius: 5px;
      position: relative;
      max-width: 100%;
      background: white;
      padding: 40px; }
      .modal .popup .popup-content input {
        width: 100%; }
      .modal .popup .popup-content input:focus {
        border-color: #84d8bd; }
      .modal .popup .popup-content a {
        color: #84d8bd;
        text-decoration: none; }
      .modal .popup .popup-content a:hover {
        text-decoration: underline;
        color: #59BC9C; }
      .modal .popup .popup-content button {
        background-color: #F7AF63;
        border-color: #F7AF63; }
      .modal .popup .popup-content button:hover {
        background-color: #e58f34;
        border-color: #e58f34; }
      .modal .popup .popup-content a.close-link {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px; }
      .modal .popup .popup-content a.pop-signin p, .modal .popup .popup-content a.pop-register p {
        margin-top: 10px;
        margin-bottom: 0px; }
